meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
meta(name='description', content='CoreUI - Open Source Bootstrap Admin Template')
meta(name='author', content='Łukasz Holeczek')
meta(name='keyword', content='Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard')
title CoreUI Free Bootstrap Admin Template

base(href='./../')
// Icons
link(href='node_modules/@coreui/icons/css/coreui-icons.min.css', rel='stylesheet')
link(href='node_modules/flag-icon-css/css/flag-icon.min.css', rel='stylesheet')
link(href='node_modules/simple-line-icons/css/simple-line-icons.css', rel='stylesheet')
link(href='https://printjs-4de6.kxcdn.com/print.min.css' rel='stylesheet' type='text/css')
link(href='css/sell.css' type = 'text/css', rel = 'stylesheet')
script(src='node_modules/jquery/dist/jquery.min.js')
script(src='node_modules/popper.js/dist/umd/popper.min.js')
script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')
script(src='node_modules/pace-progress/pace.min.js')
script(src='node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js')
script(src='node_modules/@coreui/coreui/dist/js/coreui.min.js')  
script(src= 'node_modules/regenerator-runtime/runtime.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/validator/11.1.0/validator.min.js')
script(src='https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")
script(src='https://printjs-4de6.kxcdn.com/print.min.js')
script(src="https://kit.fontawesome.com/08575ee4a2.js" crossorigin="anonymous")

// Main styles for this application
link(href='css/style.css', rel='stylesheet')
link(href='vendors/pace-progress/css/pace.min.css', rel='stylesheet')

// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-118965717-3')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  // Shared ID
  gtag('config', 'UA-118965717-3');
  // Bootstrap ID
  gtag('config', 'UA-118965717-5');
