.sidebar
  nav.sidebar-nav
    ul.nav
      if !starter
        li.nav-title
          |  Settings
        li.nav-item
          a.nav-link#viewProductSwitch
            i.nav-icon.fas.fa-tools
            |  Product
            
        li.nav-item
          a.nav-link#viewCustomerSwitch
            i.nav-icon.fas.fa-person-booth
            |  Customer
        
        li.nav-item
          a.nav-link#viewSupplierSwitch
            i.nav-icon.fas.fa-people-carry
            |  Supplier
        
        li.nav-item
          a.nav-link#viewGodownSwitch
            i.nav-icon.fas.fa-warehouse
            |  Godown
        
        li.nav-item
          a.nav-link#viewAccountSwitch
            i.nav-icon.fas.fa-file-invoice-dollar
            |  Account
        

        li.nav-title
          |  Business
        li.nav-item
          a.nav-link#buySwitch
            i.nav-icon.fas.fa-balance-scale-left
            |  Buy
        
        li.nav-item
          a.nav-link#sellSwitch
            i.nav-icon.fas.fa-balance-scale-right
            |  Sell
            
        li.nav-item
          a.nav-link#stockSwitch
            i.nav-icon.fas.fa-cubes
            |  Stock

        li.nav-title
          |  Report
        li.nav-item
          a.nav-link#incomeSwitch
            i.nav-icon.fas.fa-dollar-sign
            |  Income
        
        li.nav-item
          a.nav-link#expenseSwitch
            i.nav-icon.fas.fa-coins
            |  Expense

        li.nav-item
          a.nav-link#debtsSwitch
            i.nav-icon.fas.fa-hand-holding-usd(style = 'transform: scaleY(-1);')
            |  Debts

        li.nav-item
          a.nav-link#duesSwitch
            i.nav-icon.fas.fa-hand-holding-usd
            |  Dues
  button.sidebar-minimizer(type="button")
