.sidebar
  nav.sidebar-nav
    ul.nav
      if !starter
        li.nav-title
          |  Menu
        li.nav-item.nav-dropdown
          a.nav-link.nav-dropdown-toggle(href="#")
            i.nav-icon.fas.fa-tools
            |  Product
          ul.nav-dropdown-items
            li.nav-item(style='background-color: #1b1f3a8c;')
              a.nav-link#viewProductSwitch
                i.nav-icon.fa.fa-list
                |  View
            li.nav-item(style='background-color: #1b1f3a8c;')
              a.nav-link.addProductSwitch
                i.nav-icon.fa.fa-plus-circle
                |  Add
            li.nav-item(style='background-color: #1b1f3a8c;')
              a.nav-link.shiftProductSwitch
                i.nav-icon.fa.fa-exchange
                |  Shift
        
        

        li.nav-item
          a.nav-link#viewCustomerSwitch
            i.nav-icon.fas.fa-person-booth
            |  Customer
        
        li.nav-item
          a.nav-link#viewSupplierSwitch
            i.nav-icon.fas.fa-people-carry
            |  Supplier
        
        li.nav-item
          a.nav-link#viewGodownSwitch
            i.nav-icon.fas.fa-warehouse
            |  Godown
        
        li.nav-item
          a.nav-link#viewAccountSwitch
            i.nav-icon.fas.fa-hand-holding-usd
            |  Account
        
        
  button.sidebar-minimizer(type="button")
