- var static = true
doctype html
include _banner.pug

html(lang='en')
  head
    base(href=base)
    include _head.pug
    block styles
  body.app.sidebar-fixed.header-fixed.aside-menu-fixed.sidebar-lg-show
    script. 
      let page = !{JSON.stringify(page)};
    include _header_new.pug
    .app-body
      include _sidebar_menu.pug
      main(class='main')
        block topbar
        .container-fluid
          block view
    include _footer.pug
    script(src = 'js/shop/_sidebar_menu.js')
