extends /default.pug
block topbar
  ol.breadcrumb
    h2(style='font-family: cursive;font-weight: bold;') Godown
    // Breadcrumb Menu
    li.breadcrumb-menu.d-md-down-none
      .btn-group(role="group" aria-label="Button group")
        button.btn.addGodownButton(type="button" data-toggle = 'modal' data-target='#addGodownModal')
          i.fa.fa-plus-circle
          |  Add Godown
        .form-group.m-auto
          .input-group
            .input-group-prepend
              select#searchBy.form-control(required)
                option Name
                option Address
            input#searchGodownInput.form-control(type='text' placeholder='G-1..')
            .input-group-append
              button#searchGodownButton.btn.btn-light(type='button')
                span.input-group-text
                  i.fas.fa-search
              

block view
  script(src='js/shop/pugGodownTable.js')
  script. 
    let godowns = !{JSON.stringify(godowns)};

  .animated.fadeIn
    .row.mt-4
      .col-lg-6#tableDiv(style = 'background: #f0f3f5;')
        #stockTableHeader.d-flex.justify-content-between
          h3.m-auto Godown
          button#printTableButton.btn(style = 'background-color: white;border-color:green')
            i.font-2xl.cui-print
        include _godownTable
        
  #addGodownModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addGodownModalTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#addGodownModalTitle.modal-title Add Godown
          button.modal_close_btn.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form.form(action='' method='post' id = 'addGodownForm')
            .form-group
              .input-group
                .input-group-prepend
                  span.input-group-text Name
                input#godownName.form-control(type='text' required)
            .form-group
              .input-group
                .input-group-prepend
                  span.input-group-text Adress
                input#godownAddress.form-control(type='text')
            .alert.alert-danger#errorAddGodown(role='alert' style= 'display:none')
              | Godown Name exists!
            .form-actions.d-flex.justify-content-center
              button.modal_close_btn.btn.btn-secondary.mx-1(type='button' data-dismiss='modal') Cancel        
              button.btn.btn-primary.mx-1(type='submit' id = "godownSaveButton") Add
  
  script(src='js/shop/godown.js')
  