extends /default.pug
block topbar
  ol.breadcrumb
    h2(style='font-family: cursive;font-weight: bold;') Product
    // Breadcrumb Menu
    li.breadcrumb-menu.d-md-down-none
      .btn-group(role="group" aria-label="Button group")
        button.btn.addProductButton(type="button" data-toggle = 'modal' data-target='#addProductModal')
          i.fa.fa-plus-circle
          |  Add Product
        .form-group.m-auto
          .input-group
            .input-group-prepend
              select#searchBy.form-control(required)
                option Name
                option Brand
                option Country
            input#searchProductInput.form-control(type='text' placeholder='Titu vai..')
            .input-group-append
              button#searchProductButton.btn.btn-light(type='button')
                span.input-group-text
                  i.fas.fa-search
              

block view
  script(src='js/shop/pugProductTable.js')
  script. 
    let products = !{JSON.stringify(products)};

  .animated.fadeIn
    .row.mt-4
      .col-lg-12#tableDiv(style = 'background: #f0f3f5;')
        #stockTableHeader.d-flex.justify-content-between
          h3.m-auto Product
          button#printTableButton.btn(style = 'background-color: white;border-color:green')
            i.font-2xl.cui-print
        include _productTable
        
  #addProductModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addProductModalTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#addProductModalTitle.modal-title Update Product
          button.modal_close_btn.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form.form(id = 'updateProductForm')
            .form-group
              .input-group
                .input-group-prepend
                  span.input-group-text Name
                input#product_name.form-control(type='text' required)
            .form-group
              .input-group
                .input-group-prepend
                  span.input-group-text Type
                input#product_type.form-control(type='text')
            .form-group
              .input-group
                .input-group-prepend
                  span.input-group-text Brand
                input#product_brand.form-control(type='text') 
            .form-group
              .input-group
                .input-group-prepend
                  span.input-group-text Country
                input#product_country.form-control(type='text')
            .form-group
              .input-group
                .input-group-prepend
                  span.input-group-text Size
                input#product_size.form-control(type='text')
            .form-actions.d-flex.justify-content-center
              button.modal_close_btn.btn.btn-secondary.mx-1(type='button' data-dismiss='modal') Cancel        
              button.btn.btn-primary.mx-1(type='submit' id = "productSaveButton" data-product_id = -1) Update
              button#deleteProductButton.btn.btn-danger.mx-1(type = 'button')
                i.cui-trash.font-2xl
  
  script(src='js/shop/product.js')
  