extends /default.pug
block topbar
  ol.breadcrumb
    h2(style='font-family: cursive;font-weight: bold;') Supplier
    // Breadcrumb Menu
    li.breadcrumb-menu.d-md-down-none
      .btn-group(role="group" aria-label="Button group")
        button.btn.addSupplierButton(type="button" data-toggle = 'modal' data-target='#addSupplierModal')
          i.fa.fa-plus-circle
          |  Add Supplier
        .form-group.m-auto
          .input-group
            .input-group-prepend
              select#searchBy.form-control(required)
                option Name
                option Mobile
                option Address
            input#searchSupplierInput.form-control(type='text' placeholder='Titu vai..')
            .input-group-append
              button#searchSupplierButton.btn.btn-light(type='button')
                span.input-group-text
                  i.fas.fa-search
              

block view
  script(src='js/shop/pugSupplierTable.js')
  script. 
    let suppliers = !{JSON.stringify(suppliers)};

  .animated.fadeIn
    .row.mt-4
      .col-lg-12#tableDiv(style = 'background: #f0f3f5;')
        #stockTableHeader.d-flex.justify-content-between
          h3.m-auto Supplier
          button#printTableButton.btn(style = 'background-color: white;border-color:green')
            i.font-2xl.cui-print
        include _supplierTable
        
  #addSupplierModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addSupplierModalTitle' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#addSupplierModalTitle.modal-title Add Supplier
          button.modal_close_btn.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form.form(action='' method='post' id = 'addSupplierForm')
            .form-group
              .input-group
                .input-group-prepend
                  span.input-group-text Name
                input#supplierName.form-control(type='text' required)
            .form-group
              .input-group
                .input-group-prepend
                  span.input-group-text Company
                input#supplierCompany.form-control(type='text')
            .form-group
              .input-group
                .input-group-prepend
                  span.input-group-text Address
                input#supplierAddress.form-control(type='text')
            .form-group
              .input-group
                .input-group-prepend
                  span.input-group-text Mobile No(1)
                input#supplierMobile1.form-control(type='text' required)
            .form-group
              .input-group
                .input-group-prepend
                  span.input-group-text Mobile No(2)
                input#supplierMobile2.form-control(type='text')
            .form-group
              .input-group
                .input-group-prepend
                  span.input-group-text Telephone  
                input#supplierTelephone.form-control(type='text')
            .form-group
              .input-group
                .input-group-prepend
                  span.input-group-text Email
                input#supplierEmail.form-control(type='email')
            .alert.alert-danger#errorAddSupplier(role='alert' style= 'display:none')
              | Supplier Name exists!
            .form-actions.d-flex.justify-content-center
              button.modal_close_btn.btn.btn-secondary.mx-1(type='button' data-dismiss='modal') Cancel        
              button.btn.btn-primary.mx-1(type='submit' id = "supplierSaveButton") Add
  
  script(src='js/shop/supplier.js')
  